/* ---------------------------------------------------------------------------
CSS document for java.no
	* Website:         http://java.no

Created by:
	* Stig Nicolaisen (http://stign.no)

Design by:
	* Virgil Cameron (http://virgilcameron.com)

Hacking by:
  * Harald & Thor �ge

--------------------------------------------------------------------------- */


/* ---------------------------- Browser reset ---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	margin:0;
	outline-color:invert;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
}

body {
	background:#fff /* #E3E3E3 */;
	font-family:Arial,Helvetica,sans-serif;
	font-size:76%;
}

*:focus {
	outline-color:invert;
	outline-style:none;
	outline-width:0;
}

sup {
	vertical-align: super;
}

ol, ul {
	list-style-image:none;
	list-style-position:outside;
}

ul.horiz {
	list-style-type:none;
	padding:0pt;
}

a, a:link, a:visited {
	text-decoration:none;
}

a:hover {
  text-decoration: underline;
}
table {
	border-collapse:separate;
	border-spacing:0;
}

caption, th, td {
	font-weight:normal;
	text-align:left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

/* Float me */
.left {
	float: left;
}

.right {
	float: right;
}

/* Clearing the float */
.clearboth {
	clear: both;
}

.clearboth:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* IE6 gain .hasLayout */
* html .clearboth {
	height: 1%;
}

/* IE7 gain .hasLayout */
*+ html .clearboth {
	min-height: 1%;
}

.image .caption {
	font-size:80%;
	margin:-5px 0px 0px 0px;
}

/* ------------------- Fonts ------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia,"Times New Roman",Times,serif;
}

#header h1, #mainmodule .announcements h2, #mainmodule .column h2 {
	color:#FFFFFF;
	font-weight:normal;
}

h3 {
	color:#2A6297;
	font-size: 1.6em;
	font-weight:normal;
}

h3 a {
  color: inherit;
}
/* ------------------- Grid and element styling ------------------- */
.wrapper {
	margin:0 auto;
	background:transparent;
	position:relative;
	width:765px;
}

/* ------------------- Header ------------------- */
#header_bg {
	background:#3A71A5 url('/images/full_header_bg.gif') 0 0 repeat-x;
	height:133px;
	margin-bottom:-133px;
}

#header {
	background:transparent;
	height:132px;
	text-align:center;
}

#user-information {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ---- Forms ---- */

.lift-form table {
  width: auto;
  margin-left: 50px;
  border-spacing: 5px;
}

.field_error {
  color: red;
}

.field_error ul {
  margin-left: 0;
}

.field_error li {
  list-style-type: none;
}


/* ------------------- Main Menu ------------------- */
#mainmenu {
	background:#FFFFFF url('/images/mainmenu_bg.gif') 0 0 repeat-x;
	height:92px;
	overflow:hidden;
	padding:0;
}

#mainmenu .horiz {
    margin: 0 auto;
    text-align:center;
}

#mainmenu ul {
  list-style-type: none;
}
#mainmenu li {
  display: inline;
}

#mainmenu {
  line-height:115px;
  font-size:120%;
  font-weight:bold;
}

#mainmenu a {
	padding:0 9px;
	color:#1C5890;
}

/* ------------------- Main Module ------------------- */
#mainmodule {
	background:#686868 url('/images/mainmodule_bg.gif') 0 0 repeat-x;
	clear:both;
  overflow: hidden;

  height:302px;
}

#mainmodule .column {
	float:left;
	height:274px;
	margin:0 30px 0 0;
	width:223px;
}

#mainmodule .column h2 a {
  /* IE needs this */
  color: #FFFFFF;
}

#mainmodule .column h2 {
	font-size:2.1em;
	margin:10px 0;
}

#mainmodule .column p {
	color:#FFFFFF;
	line-height:1.5em;
}

#mainmodule p.author {
	color:#D7D7D7 !important;
	line-height:1.2em;
	margin-bottom:10px;
}

#mainmodule .lesmer {
	color:#2B84D4;
	display:block;
	font-size:1em;
	font-weight:bold;
	margin:10px 0 0;
	padding:0;
}

#mainmodule .column li {
  color:#FFFFFF;
  list-style: none url(bar_white.png) inside;
  float:left;
	font-weight:normal;
	margin-right:5px;
}

#mainmodule .column li:first-child {
  list-style: none none;
}

#mainmodule .column li a {
	color:#FFFFFF;
	display:inline;
	font-size:0.8em;
}
#mainmodule .column li a.lesmer {
  color:#E7AF37;
	display:inline;
	font-size:1em;
	margin:0 5px 0 0;
}

#mainmodule .announcements {
	background:#686868 url('/images/announcements_bg.gif') 0 0 no-repeat;
	float:right;
	height:285px;
	width:249px;
}

#mainmodule .announcements h2 {
	font-size:1.4em;
	margin:10px 0 0 25px;
}

#mainmodule .announcements .container {
	height:196px;
	margin:10px 25px;
	overflow:hidden;
}

#mainmodule .announcements h3 {
	margin:0 0 10px;
	font-size:1.4em;
}

#mainmodule .announcements p, #mainmodule .author {
	font-size:95%;
}

#mainmodule .announcements ul {
	height:14px;
	margin:21px 0 0 18px;
}

#mainmodule .announcements ul li {
	background:#DDDDDD url('/images/lCurve.gif') left 0 no-repeat;
	float:left;
	height:15px;
}

#mainmodule .announcements ul li a {
	background:transparent url('/images/rCurve.gif') right 0 no-repeat;
	border-bottom:1px solid #909090;
	display:block;
	padding:0 6px;
	cursor: pointer;
}

#mainmodule .announcements ul li a:link, #mainmodule .announcements ul li a:visited {
	color:#000000;
}

#mainmodule .announcements ul li a:hover {
	color:#1C5890;
}

#mainmodule .announcements ul li.current {
	background:#FFFFFF url('/images/lCurve_active.gif') no-repeat scroll left 0;
	float:left;
	height:16px;
}

#mainmodule .announcements ul li.current a {
	background:transparent url('/images/rCurve_active.gif') no-repeat scroll right 0;
	border-bottom:1px solid #FFFFFF;
	display:block;
	padding:0 6px 1px;
}

/* ------------------- FronPage News ------------------- */
#frontPage_news {
	background:#FFFFFF url('/images/frontPage_bg.jpg') repeat-x 0 0;
	clear:both;
	padding: 0 0 50px 5px;
}

#frontPage_news .leftarea {
	float: left;
	width: 510px;
	padding-top: 20px;
	margin-bottom: 30px;
}

/* Setting the width for columns in FrontPage News */
#frontPage_news .widecolumn {
	margin: 20px 0 0 0;
	padding: 0 0 5px 0;
	width: auto;
	border-bottom: 1px dotted #999;
	overflow: hidden;
}

/* Clearing the float */
#frontPage_news .widecolumn:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* IE6 gain .hasLayout */
* html #frontPage_news .widecolumn {
	height: 1%;
	margin: 0 20px 10px 0;
}

/* IE7 gain .hasLayout */
*+ html #frontPage_news .widecolumn {
	min-height: 1%;
	margin: 0 20px 10px 0;
}

#frontPage_news .halfcolumn {
	float: left;
	margin: 20px 30px 0 0;
	padding: 0 0 5px 0;
	width: 223px;
}

/* Headers and fonts */
#frontPage_news h2 {
	color:#2A6297;
	font-size: 2.9em;
	font-weight:normal;
	letter-spacing: 1px;
	margin: 0 0 10px 0;
}

#frontPage_news h3 {
	margin: 0 0 10px 0;
}

#frontPage_news .widecolumn h3 a {
    color: #2A6297;
}

#frontPage_news .halfcolumn h3 {
	clear: both;
	display: block;
	color: #1C5890;
	margin: 0 0 10px 0;
}

#frontPage_news p.author {
	color:#333;
	font-size: .9em;
	line-height:1.2em;
	margin-bottom:10px;
}

#frontPage_news p.author a {
  color: #2A6297;
}

.leftarea p {
	margin: 10px 0;
}

#frontPage_news .lesmer {
	color:#3387d7 !important;
  font-weight:bold;
	margin:10px 0 0;
}

#frontPage_news .lesmer li {
  float: left;
  list-style: none url(bar.png) inside;
  margin-left: 7px;
}

#frontPage_news .lesmer li:first-child {
  list-style: none none;
}

/* Styling for images i textfields in .leftarea */
#frontPage_news .leftarea img {
	margin: 10px 0;
}

#frontPage_news .leftarea img.left {
	margin-right: 15px;
}

#frontPage_news .leftarea img.right {
	margin-left: 15px;
}

#frontPage_news .widecolumn ul {
	float: right;
}

#frontPage_news .halfcolumn ul {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #999;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 3px;
}

#frontPage_news li a{
	padding: 0 5px 0 0;
	color:#333;
	font-size:0.9em;
}

/* Separate Les mer link */
#frontPage_news .standalone:first-child {
    border-top: 40px solid #fff;
}
#frontPage_news .standalone {
	clear: both;
	display: block;
	padding-left: 17px;
	background: url(f'/images/standalone_arw.jpg') 0 1px no-repeat;
}

/* IE6 fix */
*html #frontPage_news .standalone {
	margin:40px 0 0 0;
	border: none;
}

/* IE7 fix */
*+ html #frontPage_news .standalone {
	margin:40px 0 0 0;
	border: none;
}

#frontPage_news .halfcolumn .standalone {
	clear: both;
	display: block;
	padding-left: 17px;
	background: url('/images/standalone_arw.jpg') 0 1px no-repeat;
	border-top: none;
}

/* IE6 fix */
*html #frontPage_news .halfcolumn .standalone {
	margin:0;
	border: none;
}

/* IE7 fix */
*+ html #frontPage_news .halfcolumn .standalone {
	margin:0;
	border: none;
}

/* Right area */
#frontPage_news .announcements {
	background:transparent;
	float:right;
	margin-right: 20px;
	width:214px;
}

/* IE6 fix */
*html #frontPage_news .announcements {
	margin-right: 10px;
}

#frontPage_news .announcements .tips {
	background:transparent url('/images/tips_bg.jpg') 0 0 no-repeat;
	height:63px;
	width:214px;
}

#frontPage_news .announcements .tips p {
	float: left;
	margin: 13px -10px 10px 25px;
	color:#FFFFFF;
	font-size:1.2em;
	width:70px;
}

/* IE6 fix */
*html #frontPage_news .announcements .tips p {
	margin: 13px 0 10px 10px;
}

#frontPage_news .announcements .tips_btn {
  position:relative;
  overflow: hidden;
  /*background:transparent url('/images/tips_btn.jpg') 0 0 no-repeat;*/
	float:right;
  width:100px;
  height:31px;
  margin:15px 20px 0 0;
}

#frontPage_news .announcements .tips_btn span {
  /* Replace text with image, see: http://www.wellstyled.com/css-replace-text-by-image.html */
  display:block;
  position:absolute;
  left:0;
  top:0;
  z-index:1;
  width:100px;
  height:31px;
  margin:0; padding:0;
  background: url('/images/tips_btn.jpg') 0 0 no-repeat;
}

#frontPage_news .announcements .ad a:hover {
  text-decoration: none;
}

#frontPage_news .announcements .ad {
	border-top: 1px dotted #999;
	width: 199px;
	margin: 20px auto;
	list-style-type:none;
	padding: 0px;
}

#frontPage_news .announcements .ad:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* IE6 gain .hasLayout */
* html #frontPage_news .announcements .ad {
	height: 1%;
}

/* IE7 gain .hasLayout */
*+ html #frontPage_news .announcements .ad {
	min-height: 1%;
}

#frontPage_news .announcements li {
  border-bottom: 1px dotted #999;
}

#frontPage_news .announcements a:before {
  visibility: hidden;
  content: ".";
}
#frontPage_news .announcements a:after {
  visibility: hidden;
  content: ".";
}


#frontPage_news .announcements a {
  display: block;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 199px;
  /*background-color: lightyellow;*/
}

#frontPage_news .announcements img {
  vertical-align: middle;
  /*background-color: lightgray;*/
}

/* For boxes with curved, blue headers */
#frontPage_news .announcements h4 {
	background: #3387d7 url('/images/blue_box_top.jpg') 0 0 no-repeat;
	color: #fff;
	font-size: 1.4em;
	font-weight: normal;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-width: 0 1px;
	overflow: visible;
}

.notice {
	margin: 0 1px 20px 1px;
	padding: 5px 5px 10px 5px;
	border: 1px solid #90c3eb;
	border-width: 0 1px 1px 1px;
}

#frontPage_news .announcements .notice .ad {
	border: none;
	margin: 5px 5px 20px 5px;
	width: auto;
}

#frontPage_news .announcements .notice .ad li {
	display: block;
	float: none;
	margin: 0;
	padding: 5px 0 2px 0;
}

#frontPage_news .announcements .notice .lesmer {
	margin-left: 5px;
}

#frontPage_news .announcements .notice .radiogroup {
	float: left;
	width: 40%;
}

#frontPage_news .announcements .notice label {
	display: block;
	clear: both;
}

#frontPage_news .announcements .notice .vote_btn {
	float: right;
	width: 55px;
	height: 54px;
	background: #fff url('/images/vote_btn.jpg') 0 0 no-repeat;
	border: none;
}

/* Breadcrumb */
#frontPage_news ul.breadcrumb {
	clear: both;
	display: block;
	margin-bottom: 20px;
}

/* IE6 fix */
*html #frontPage_news ul.breadcrumb {
	height: 1%;
	margin-bottom: 10px;
}

/* IE7 fix */
*+ html #frontPage_news ul.breadcrumb {
	min-height: 1%;
	margin-bottom: 10px;
}

#frontPage_news ul.breadcrumb li em {
	font-style: normal;
	font-size: 1em;
	color: #666;
	background: url('/images/b-li-arw.gif') 0 6px no-repeat;
	padding-left: 10px;
}

#frontPage_news ul.breadcrumb li a {
	font-size: 1em;
	color: #3387D7;
	background: url('/images/b-link-arw.gif') 0 6px no-repeat;
	padding-left: 10px;
}

#frontPage_news .furtherreading ul {
  list-style: url('/images/b-li-arw.gif') inside;
}

#frontPage_news .furtherreading li {
  font-size: 1.1em;
  clear: both;
}

#frontPage_news .furtherreading a {
  color: #2A6297;
}

/* Comments and feedback section */
#frontPage_news .comments {
	margin: 30px 0;
}

#frontPage_news .comments h4, #frontPage_news .feedback h4 {
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	color: #6b7062;
}

#frontPage_news .comments .box {
	padding: 10px 10px 30px 10px;
	background: #f4f4f4;
	border-bottom: 1px dotted #000;
}

#frontPage_news .comments .box p {
	margin: 5px 0 5px 40px;
}

#frontPage_news .comments .box p.info {
	margin: 5px 0 5px 0;
}


#frontPage_news .comments .box p b {
	color: #3081ce ;
}

#frontPage_news .comments .box p em {
	font-style: normal;
	color: #676b5e ;
}

#frontPage_news .feedback {
	float: left;
	margin: 30px 0;
	padding-bottom: 20px;
	border-bottom: 1px dotted #000;
}

#frontPage_news .feedback .floatboxleft {
	float: left;
	margin-right: 10px;
}

#frontPage_news .feedback .floatboxright {
	float: right;
}

#frontPage_news .feedback input, #frontPage_news .feedback .comment {
	clear: both;
	display: block;
	margin: 3px 0 10px 0;
	border: 1px solid #f8b861;
}

#frontPage_news .feedback .comment {
	width: 340px;
	height: 95px;
}

#frontPage_news .feedback .feedback_btn {
	width: 111px;
	height: 27px;
	background: #fff url('/images/feedback_btn.jpg') 0 0 no-repeat;
	border: none;
}

/* Styling for Lecture pages */

.lecture_index_narrow {
	float: left;
	width: 255px;
	margin: 20px 0 30px 0;
	padding-bottom: 15px;
	background: #fcfcfc url('/images/nrw-index-bg.gif') 0 bottom no-repeat;
}

.lecture_index_narrow h4{
	background: url('/images/nrw-crv-header.gif') 0 0 no-repeat;
	height: 38px;
	padding: 5px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
}

#frontPage_news .lecture_index_narrow ul, #frontPage_news .lecture_index_wide ul {
	clear: both;
	margin: 0 0 10px 0;
}

#frontPage_news .lecture_index_narrow ul li {
	float: none;
	margin: 3px 20px;
	background: url('/images/sqr-bullet.gif') 0 5px no-repeat;
}

/* IE6 fix */
*html #frontPage_news .lecture_index_narrow ul li a {
	padding-left: 12px;
}

#frontPage_news .lecture_index_narrow ul li a:link {
	padding-left: 12px;
	font-size: 1em;
	font-weight: bold;
	color: #3387d7;
}

.lecture_index_wide {
	clear: both;
	float: none;
	margin-bottom: 30px;
}

.lecture_index_wide h4{
	background: url('/images/wide-crv-header.gif') 0 0 no-repeat;
	padding: 3px 20px 4px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #fff;
}

#frontPage_news .lecture_index_wide ul li {
	position: relative;
	float: none;
	padding-left: 20px;
	margin: 0;
	height: 28px;
	clear: both;
}

#frontPage_news .lecture_index_wide ul li img {
	float: left;
	margin: 7px -5px 0 -15px;
}

/* IE6 fix */
*html #frontPage_news .lecture_index_wide ul li a {
	padding-left: 12px;
	line-height: 26px;
}

#frontPage_news .lecture_index_wide ul li a:link {
	padding-left: 12px;
	font-size: 1em;
	line-height: 28px;
	color: #3387d7;
}

#frontPage_news .lecture_index_wide .darkGray {
	background: #ededed;
}

#frontPage_news .lecture_index_wide .lightGray {
	background: #f9f6f6;
}

#frontPage_news .lecture_index_wide ul li span {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 5px;
	border-left: 2px solid #fff;
	width: 70px;
}

#frontPage_news .lecture_index_wide ul li span img {
	margin: 0;
	line-height: 0;
	height: 28px;
}

#frontPage_news .lecture_index_wide ul li span a:link {
	float: left;
	margin: 0 3px 0 0;
	padding-left: 5px;
}

/* ------------------- Footer ------------------- */

#footer {
	background: url('/images/footer_bg.jpg') 0 0 repeat-x;
	height: 459px;
}

#footer ul {
	padding: 10px;
}

#footer h3, #footer a {
	color: #fff;
}

#footer .column {
	float: left;
	width: 160px;
	border-left: 1px dotted #fff;
	margin: 35px 15px 0 0;
	padding-left: 8px;
}

#footer .column h3 {
	font-size: 1.8em;
	margin: 0 0 20px 7px;
}

#footer .column img {
	margin: 0 0 5px 7px;
}

#footer .column li {
	width: 80%;
	margin-bottom: 10px;
	padding-left: 17px;
	background: url('/images/footer_arw.jpg') 0 0 no-repeat;
	list-style-type:none;
}

#footer .column li a {
	color: #fff;
}

#footer .column ul.feed li {
	width: 80%;
	margin-bottom: 0;
	padding-left: 0;
	background: none;
}
