/* ---------------------------------------------------------------------------
CSS document for java.no
	* Website:         http://java.no

Created by:
	* Stig Nicolaisen (http://stign.no)

Design by:
	* Virgil Cameron (http://virgilcameron.com)

Hacking by:
  * Harald & Thor ï¿½ge

--------------------------------------------------------------------------- */

/* ------------------- Fonts ------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia,"Times New Roman",Times,serif;
}

#header h1, #mainmodule .announcements h2, #mainmodule .column h2 {
	color:#FFFFFF;
	font-weight:normal;
}

h3 {
	color:#2A6297;
	font-size: 1.6em;
	font-weight:normal;
}

h3 a {
  color: inherit;
}
/* ------------------- Grid and element styling ------------------- */
.wrapper {
	margin:0 auto;
	background:transparent;
	position:relative;
	width:765px;
}

/* ------------------- Header ------------------- */
#header_bg {
	background:#3A71A5 url('/images/full_header_bg.gif') 0 0 repeat-x;
	height:133px;
	margin-bottom:-133px;
}

#header {
	background:transparent;
	height:132px;
	text-align:center;
}

#user-information a {
  color: #fff;
}
#user-information {
  text-align: right;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ---- Forms ---- */

.lift-form table,tr,td {
  width: auto;
  margin-left: 50px;
  border-spacing: 10px;
  padding: 5px;
}

.field_error {
  color: red;
}

.field_error ul {
  margin-left: 0;
}

.field_error li {
  color: red;
  list-style-type: none;
}

.field_notice li {
  list-style-type: none;
}


/* ------------------- Main Menu ------------------- */
#mainmenu {
	background:#FFFFFF url('/images/mainmenu_bg.gif') 0 0 repeat-x;
	height:92px;
	overflow:hidden;
	padding:0;
}

#mainmenu .horiz {
    margin: 0 auto;
    text-align:center;
}

#mainmenu ul {
  list-style-type: none;
}
#mainmenu li {
  display: inline;
}

#mainmenu {
  line-height:115px;
  font-size:120%;
  font-weight:bold;
}

#mainmenu a {
	padding:0 9px;
	color:#1C5890;
}

.leftarea p {
	margin: 10px 0;
}

.notice {
	margin: 0 1px 20px 1px;
	padding: 5px 5px 10px 5px;
	border: 1px solid #90c3eb;
	border-width: 0 1px 1px 1px;
}

/* ------------------- Footer ------------------- */

#footer {
	background: url('/images/footer_bg.jpg') 0 0 repeat-x;
	height: 459px;
}

#footer ul {
	padding: 10px;
}

#footer h3, #footer a {
	color: #fff;
}

#footer .column {
	float: left;
	width: 160px;
	border-left: 1px dotted #fff;
	margin: 35px 15px 0 0;
	padding-left: 8px;
}

#footer .column h3 {
	font-size: 1.8em;
	margin: 0 0 20px 7px;
}

#footer .column img {
	margin: 0 0 5px 7px;
}

#footer .column li {
	width: 80%;
	margin-bottom: 10px;
	padding-left: 17px;
	background: url('/images/footer_arw.jpg') 0 0 no-repeat;
	list-style-type:none;
}

#footer .column li a {
	color: #fff;
}

#footer .column ul.feed li {
	width: 80%;
	margin-bottom: 0;
	padding-left: 0;
	background: none;
}
